<!--
  ~ Copyright 2022 ZnPi
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.pi.cloud.admin.mapper.UserMapper">
    <resultMap id="userResult" type="me.pi.cloud.admin.pojo.vo.UserVO">
        <id property="id" column="id" />
        <result property="username" column="username" />
        <result property="nickname" column="nickname" />
        <result property="sex" column="sex" />
        <result property="age" column="age" />
        <result property="bday" column="bday" />
        <result property="phone" column="phone" />
        <result property="deptId" column="deptId" />
        <result property="deptName" column="deptName" />
        <result property="enabled" column="enabled" />
        <result property="createTime" column="create_time" />
        <collection property="roleIds" ofType="Long">
            <result column="role_id" />
        </collection>
    </resultMap>

    <select id="listUsers" resultMap="userResult">
        SELECT su.id, su.create_time, su.username, su.nickname, su.sex,
               DATE_FORMAT(FROM_DAYS(DATEDIFF(now(), su.bday)), '%Y') + 0 AS age,
               su.bday, su.phone, sd.id deptId, sd.name deptName, sur.role_id, su.enabled
        FROM sys_user su
            LEFT JOIN sys_dept sd on su.dept_id = sd.id
            LEFT JOIN sys_user_role sur on su.id = sur.user_id
        WHERE su.deleted = 0
        <if test="query.keyWord != null and query.keyWord.trim() neq ''">
            AND (
                su.username LIKE CONCAT('%', #{query.keyWord}, '%')
                OR su.nickname LIKE CONCAT('%', #{query.keyWord}, '%')
                OR su.phone LIKE CONCAT('%', #{query.keyWord} ,'%')
            )
        </if>
        <if test="query.enabled != null">
            AND su.enabled = #{query.enabled}
        </if>
        <if test="query.deptId != null">
            AND sd.id = #{query.deptId}
        </if>
        ORDER BY su.create_time DESC
    </select>

    <select id="existsByUsername" resultType="java.lang.Integer">
        SELECT 1 FROM sys_user WHERE deleted = 0 AND username = #{username} LIMIT 1
    </select>

    <select id="listExportRecode" resultType="me.pi.cloud.admin.pojo.vo.UserExportVO">
        SELECT
            su.username, su.nickname, su.phone, d.name dept_name
        FROM sys_user su
            LEFT JOIN sys_dept d ON su.dept_id = d.id
        WHERE su.deleted = 0
        <if test="query.keyWord != null and query.keyWord.trim() neq ''">
          AND (su.username LIKE CONCAT('%', #{query.keyWord}, '%')
            OR su.nickname LIKE CONCAT('%', #{query.keyWord}, '%')
            OR su.phone LIKE CONCAT('%', #{query.keyWord}, '%'))
        </if>
        <if test="query.enabled != null">
          AND su.enabled = #{query.enabled}
        </if>
        ORDER BY su.create_time DESC
    </select>

    <select id="listOptionalUsers" resultType="me.pi.cloud.admin.pojo.vo.OptionalUserVO">
        SELECT
            su.id, su.username, su.nickname, d.name dept_name
        FROM sys_user su
                 LEFT JOIN sys_dept d ON su.dept_id = d.id
        WHERE su.deleted = 0
        <if test="query.keyWord != null and query.keyWord.trim() neq ''">
            AND (
                su.username LIKE CONCAT('%', #{query.keyWord}, '%')
                OR su.nickname LIKE CONCAT('%', #{query.keyWord}, '%')
                OR d.name LIKE CONCAT('%', #{query.keyWord}, '%')
            )
        </if>
        ORDER BY su.create_time DESC
    </select>

    <select id="getRoleMembers" resultType="me.pi.cloud.admin.pojo.vo.RoleMemberVO">
        SELECT
            ur.id, u.username, u.nickname, d.name dept_name
        FROM sys_user u
                 LEFT JOIN sys_dept d ON u.dept_id = d.id
                 LEFT JOIN sys_user_role ur ON u.id = ur.user_id
        WHERE u.deleted = 0
          AND ur.role_id = #{query.roleId}
        <if test="query.keyWord != null and query.keyWord.trim() neq ''">
            AND (
                u.username LIKE CONCAT('%', #{query.keyWord}, '%')
                OR u.nickname LIKE CONCAT('%', #{query.keyWord}, '%')
                OR d.name LIKE CONCAT('%', #{query.keyWord}, '%')
            )
        </if>
    </select>
</mapper>
